<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Student Project</h1>
    <br />
    <h2>Completed as part of coursework</h2>
    <br />
    <%= link_to 'Learn More', courses_path, :class => 'btn btn-success' %>
    <br />
  </div>
</div>
<br />
<div class="row feature text-center">
    <div class="col-12 col-sm">
      <h3>For instructor review</h3>
      <br />
      <p>This website has been uploaded exclusively for review by a coding bootcamp instructor.</p>
    </div>

    <div class="col-12 col-sm">
      <h3>Heading 2</h3>
      <br />
      <p>Text 2</p>
    </div>

    <div class="col-12 col-sm">
      <h3>Heading 3</h3>
      <br />
      <p>Text 3</p>
    </div>
</div>
